-- Adicione estas colunas à tabela tracking_events no Supabase SQL Editor:

ALTER TABLE tracking_events ADD COLUMN IF NOT EXISTS ip_address TEXT;
ALTER TABLE tracking_events ADD COLUMN IF NOT EXISTS country TEXT;
ALTER TABLE tracking_events ADD COLUMN IF NOT EXISTS city TEXT;
ALTER TABLE tracking_events ADD COLUMN IF NOT EXISTS utm_source TEXT;
ALTER TABLE tracking_events ADD COLUMN IF NOT EXISTS utm_medium TEXT;
ALTER TABLE tracking_events ADD COLUMN IF NOT EXISTS utm_campaign TEXT;
ALTER TABLE tracking_events ADD COLUMN IF NOT EXISTS utm_term TEXT;
ALTER TABLE tracking_events ADD COLUMN IF NOT EXISTS utm_content TEXT;
ALTER TABLE tracking_events ADD COLUMN IF NOT EXISTS referrer TEXT;

-- Índices para melhorar consultas
CREATE INDEX IF NOT EXISTS idx_tracking_events_country ON tracking_events(country);
CREATE INDEX IF NOT EXISTS idx_tracking_events_utm_source ON tracking_events(utm_source);
CREATE INDEX IF NOT EXISTS idx_tracking_events_utm_campaign ON tracking_events(utm_campaign);
